.body-home {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    min-height: 100vh;
    background-color: black;
}

.body-reg {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    min-width: 66rem;
    min-height: 100vh;
    background-color: black;
}

.logo {
    display: inline-block;
    padding: 0 .5em;
    border: white solid .066em;
    border-radius: .33em;
    text-align: center;
    font-weight: 600 !important;
}

.logo:hover {
    display: inline-block;
    padding: 0 .5em;
    border: solid white .066em;
    border-radius: .33em;
    background-color: white !important;
    color: 	#343a40 !important;
    font-weight: 600 !important;
}

.content-wrap-home {
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    font-family: Roboto;
    width: 100%;
    height: 100%;
    padding-bottom: 12em;
    color: white !important;
    background: url(https://www.nasa.gov/sites/default/files/thumbnails/image/mars-landing-site-tn.jpg) top 12em center no-repeat;
}

.content-wrap-home h1 {
    font-size: 10em;
    text-align: center;
}

.content-wrap-home h2 {
    text-align: center;
    font-weight: 700;
    margin: 0em auto;
    padding: 2em;
    /* mix-blend-mode: difference; */
    filter: drop-shadow(0 0 0.15rem #000000);
}

.content-wrap-page {
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    font-family: Roboto;
    width: 100%;
    height: 100%;
    padding-bottom: 12em;
    color: white !important;
}

.earth {
    background: url(https://upload.wikimedia.org/wikipedia/commons/2/2a/Mars_Earth_Comparison.png) top 6em center no-repeat;
}

.conditions {
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/dc/PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg) top -28em center no-repeat;
}

.transportation {
    background: url(https://upload.wikimedia.org/wikipedia/commons/8/87/Elon_Musk%27s_Tesla_Roadster_%2840143096241%29.jpg) top -13em center no-repeat;
}

.missions {
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/cf/Mars_Food_Production_-_Bisected.jpg) top -36em center no-repeat;
}

.content-wrap-page h1 {
    color: white;
    font-size: 10em;
    text-align: center;
}

.content-wrap-page h2 {
    font-family: Roboto;
    text-align: center;
    font-weight: 500;
    margin: 0em auto;
    padding: 2em;
    color: #000000;
}

.info-text {
    display: inline-block;
    width: auto;
    margin: 3em 2em 0 2em;
    border-radius: 2em;
    background-color: white;
    opacity: .75;
}

.content-wrap {
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    font-family: Roboto;
    padding: 1em;
    width: 100%;
    height: 100%;
    padding-bottom: 12em;
    color: white !important;
}



.content-wrap h1 {
    font-size: 10em;
    text-align: center;
}

.content-wrap h2, h3, h4 {
    text-align: center;
    padding-top: .6em;
    margin: 0em 2em;
}

.content-wrap h3 {
    color: rgb(3, 3, 8);
}

.content-wrap h4 {
    color: gray;
}

.content-wrap > img {
    display: block;
    margin: 6em auto;
    
    max-width: 40em;
    max-height: 30em;
    object-fit: cover;
}

.HST {
    display: inline-block;
    background-color: rgba(255, 208, 164, 0.438);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer .top {
    padding: 1em;
    display: inline-block;
    min-height: 3em;
    width: 100%;
}

footer .bottom {
    text-align: center;
    padding: .33em;
    display: inline-block;
    width: 100%;
}

footer div div {
    text-align: center;
}

footer a {
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.portfolio {
    display: grid !important;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr !important;
    grid-column-gap: 10px !important;
    grid-row-gap: 10px !important;
  }
  
  .image img {
    width: 100% !important;
    max-height: 15em;
    object-fit: cover;
  }